.changeColorOff {
    background-color: hsl(243, 100%, 70%);
}

.changeColorOn {
    background-color: hsl(248, 43%, 18%);
}

.btnOff {
    width: 220px;
    height: 220px;
    border-radius: 50px;
    box-shadow: 8px 5px  8px 5px #2f2cdc80;
    border-color: hsl(227, 52%, 34%);
    background-color: #121535;
    color: #7068ff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 50px;
    font-weight:650;
    
}

button:hover {
    cursor: pointer;
}

.btnOn {
    width: 220px;
    height: 220px;
    border-radius: 50px;
    box-shadow: 8px 5px  8px 5px #2f2cdc80;
    border-color: hsl(227, 52%, 34%);
    background-color:  #7068ff;
    color: #121535;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 50px;
    font-weight: 650;
    
}

.touchTime {
    font-size: 24px;
    position: absolute;
    text-align: bottom;
}